<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxing.cloud.mall.admin.mapper.GoodsSkuSpecsValueMapper">
    <sql id="goodsSkuSpecsValueSql">
        goods_sku_specs_value
        .
        id
        ,
        goods_sku_specs_value.sku_id,
        goods_sku_specs_value.specs_value_id,
        goods_sku_specs_value.sort,
        goods_sku_specs_value.create_time,
        goods_sku_specs_value.update_time,
        goods_sku_specs_value.create_id,
        goods_sku_specs_value.del_flag,
        goods_sku_specs_value.update_id,
        goods_specs_value.`name` as specsValueName
    </sql>
    <select id="selectBySkuId" resultType="com.huanxing.cloud.mall.common.entity.GoodsSkuSpecsValue">
        SELECT
        <include refid="goodsSkuSpecsValueSql"/>
        FROM
        goods_sku_specs_value AS goods_sku_specs_value LEFT JOIN goods_specs_value AS goods_specs_value ON
        goods_sku_specs_value.`specs_value_id` = goods_specs_value.`id`
        where goods_sku_specs_value.`sku_id` =#{skuId}
    </select>
    <select id="selectGoodsSkuSpecsValues"
            resultType="com.huanxing.cloud.mall.common.entity.GoodsSkuSpecsValue">
        SELECT goods_specs_value.`name` as specsValueName,
        goods_specs_value.`id`,
        goods_sku_specs_value.`pic_url`,
        goods_sku_specs_value.`specs_value_id`
        FROM goods_sku_specs_value AS goods_sku_specs_value
        LEFT JOIN goods_specs_value AS goods_specs_value ON
        goods_specs_value.`id` = goods_sku_specs_value.`specs_value_id`
        where goods_sku_specs_value.`spu_id` = #{spuId}
        AND goods_specs_value.`specs_id` = #{specsId}
        GROUP BY goods_specs_value.`id`
    </select>
</mapper>