<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxing.cloud.mall.admin.mapper.GrouponRecordMapper">
    <sql id="grouponRecordSql">
        groupon_record
        .
        id
        ,
        groupon_record.user_id,
        groupon_record.groupon_id,
        groupon_record.leader_id,
        groupon_record.buy_price,
        groupon_record.groupon_num,
        groupon_record.spu_id,
        groupon_record.sku_id,
        groupon_record.is_leader,
        groupon_record.overdue_time,
        groupon_record.order_id,
        groupon_record.`status`,
        groupon_record.create_time,
        groupon_record.create_id,
        groupon_record.update_time,
        groupon_record.update_id
    </sql>
    <select id="selectPage" resultMap="grouponRecordResultMap">
        SELECT
        <include refid="grouponRecordSql"/>
        FROM groupon_record AS groupon_record
        <where>
            <if test="query.isLeader!= null and query.isLeader != ''">
                AND groupon_record.`is_leader` = #{query.isLeader}
            </if>
            <if test="query.status!=null and query.status!=''">
                AND groupon_record.`status` = #{query.status}
            </if>
        </where>
    </select>
    <select id="selectList" resultMap="grouponRecordListResultMap">
        SELECT
        <include refid="grouponRecordSql"/>
        FROM groupon_record AS groupon_record
        <where>
            <if test="query.isLeader!= null and query.isLeader != ''">
                AND groupon_record.`is_leader` = #{query.isLeader}
            </if>
            <if test="query.leaderId != null and query.leaderId != ''">
                AND groupon_record.`leader_id` = #{query.leaderId}
            </if>
            <if test="query.status!=null and query.status!=''">
                AND groupon_record.`status` = #{query.status}
            </if>
        </where>
    </select>
    <resultMap id="grouponRecordListResultMap" type="com.huanxing.cloud.mall.common.entity.GrouponRecord">
        <collection property="userInfo" column="{id=user_id}"
                    ofType="com.huanxing.cloud.mall.common.entity.UserInfo"
                    select="com.huanxing.cloud.mall.admin.mapper.UserInfoMapper.selectById"></collection>
    </resultMap>
    <resultMap id="grouponRecordResultMap" type="com.huanxing.cloud.mall.common.entity.GrouponRecord">
        <collection property="grouponRecordList" column="{query.leaderId=id}"
                    ofType="com.huanxing.cloud.mall.common.entity.GrouponRecord"
                    select="com.huanxing.cloud.mall.admin.mapper.GrouponRecordMapper.selectList"></collection>
    </resultMap>
</mapper>