<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxing.cloud.upms.admin.mapper.SysStorageConfigMapper">

    <sql id="SysStorageConfigSql">
        sys_storage_config
        .
        id
        ,
        sys_storage_config.access_key,
        sys_storage_config.access_secret,
        sys_storage_config.endpoint,
        sys_storage_config.bucket,
        sys_storage_config.type,
        sys_storage_config.create_time,
        sys_storage_config.update_time,
        sys_storage_config.dir,
        sys_storage_config.is_https,
        sys_storage_config.del_flag
    </sql>
    <select id="selectConfig" resultType="com.huanxing.cloud.upms.common.dto.SysStorageConfigDTO">
        SELECT
        <include refid="SysStorageConfigSql"/>
        FROM
        sys_storage_config AS sys_storage_config
    </select>
</mapper>