<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxing.cloud.pay.api.mapper.PayConfigMapper">

    <sql id="payConfigSql">
        pay_config
        .
        id
        ,
        pay_config.type,
        pay_config.app_id,
        pay_config.mch_id,
        pay_config.mch_key,
        pay_config.key_path,
        pay_config.cert_serial_no,
        pay_config.apiv3_key,
        pay_config.private_key_path,
        pay_config.private_cert_path,
        pay_config.create_time,
        pay_config.update_time,
        pay_config.create_id,
        pay_config.update_id,
        pay_config.del_flag,
        pay_config.sub_app_id,
        pay_config.tenant_id
    </sql>
    <select id="selectByAppId" resultType="com.huanxing.cloud.pay.common.entity.PayConfig">
        SELECT
        <include refid="payConfigSql"/>
        FROM
        pay_config AS pay_config
        WHERE pay_config.`app_id` = #{appId}
    </select>
</mapper>