<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxing.cloud.mall.api.mapper.GrouponRecordMapper">
    <sql id="grouponRecordSql">
        groupon_record
        .
        id
        ,
        groupon_record.user_id,
        groupon_record.groupon_id,
        groupon_record.leader_id,
        groupon_record.buy_price,
        groupon_record.groupon_num,
        groupon_record.spu_id,
        groupon_record.sku_id,
        groupon_record.is_leader,
        groupon_record.overdue_time,
        groupon_record.order_id,
        groupon_record.`status`,
        groupon_record.create_time,
        groupon_record.create_id,
        groupon_record.update_time,
        groupon_record.update_id
    </sql>
    <select id="selectPage" resultMap="grouponRecordResultMap">
        SELECT
        <include refid="grouponRecordSql"/>
        FROM groupon_record AS groupon_record
        <where>
            <if test="query.isLeader!= null and query.isLeader != ''">
                AND groupon_record.`is_leader` = #{query.isLeader}
            </if>
            <if test="query.status!=null and query.status!=''">
                AND groupon_record.`status` = #{query.status}
            </if>
            <if test="query.spuId!=null and query.spuId!=''">
                AND groupon_record.`spu_id` = #{query.spuId}
            </if>
            <if test="query.userId!=null and query.userId!=''">
                AND groupon_record.`user_id` = #{query.userId}
            </if>

        </where>
    </select>
    <select id="inGroupPage" resultMap="inGroupPageResultMap">
        SELECT
        <include refid="grouponRecordSql"/>
        FROM groupon_record AS groupon_record
        <where>
            <if test="query.isLeader!= null and query.isLeader != ''">
                AND groupon_record.`is_leader` = #{query.isLeader}
            </if>
            <if test="query.status!=null and query.status!=''">
                AND groupon_record.`status` = #{query.status}
            </if>
            <if test="query.spuId!=null and query.spuId!=''">
                AND groupon_record.`spu_id` = #{query.spuId}
            </if>
        </where>
    </select>
    <select id="selectFinishGrouponNum" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM `groupon_record` AS groupon_record
        WHERE groupon_record.leader_id = #{leaderId}
    </select>
    <resultMap id="grouponRecordResultMap" type="com.huanxing.cloud.mall.common.entity.GrouponRecord">
        <collection property="finishGrouponNum" column="{leaderId=id}"
                    ofType="com.huanxing.cloud.mall.common.entity.GrouponRecord"
                    select="com.huanxing.cloud.mall.api.mapper.GrouponRecordMapper.selectFinishGrouponNum"></collection>
        <collection property="grouponInfo" column="{id=groupon_id}"
                    ofType="com.huanxing.cloud.mall.common.entity.GrouponInfo"
                    select="com.huanxing.cloud.mall.api.mapper.GrouponInfoMapper.selectById"></collection>
    </resultMap>
    <resultMap id="inGroupPageResultMap" type="com.huanxing.cloud.mall.common.entity.GrouponRecord">
        <collection property="finishGrouponNum" column="{leaderId=id}"
                    ofType="com.huanxing.cloud.mall.common.entity.GrouponRecord"
                    select="com.huanxing.cloud.mall.api.mapper.GrouponRecordMapper.selectFinishGrouponNum"></collection>
        <collection property="userInfo" column="{id=user_id}"
                    ofType="com.huanxing.cloud.mall.common.entity.UserInfo"
                    select="com.huanxing.cloud.mall.api.mapper.UserInfoMapper.selectById"></collection>
    </resultMap>

</mapper>