<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxing.cloud.mall.api.mapper.UserFootprintMapper">

    <sql id="userFootprintSql">
        user_footprint
        .
        id
        ,
	user_footprint.user_id,
	user_footprint.spu_id,
	user_footprint.create_time,
	user_footprint.del_flag
    </sql>
    <resultMap id="ResultMap" type="com.huanxing.cloud.mall.common.entity.UserFootprint">
        <collection property="goodsSpu" column="{id=spu_id}"
                    ofType="com.huanxing.cloud.mall.common.entity.GoodsSpu"
                    select="com.huanxing.cloud.mall.api.mapper.GoodsSpuMapper.selectById"/>
    </resultMap>
    <select id="apiPage" resultMap="ResultMap">
        SELECT
        <include refid="userFootprintSql"/>
        FROM user_footprint AS user_footprint
        <where>
            <if test="query.userId != null and query.userId != ''">
                AND user_footprint.`user_id` = #{query.userId}
            </if>
            <if test="query.spuId != null and query.spuId != ''">
                AND user_footprint.`spuId` = #{query.spuId}
            </if>
        </where>
    </select>
</mapper>